[submodule "portfolio/hugo-xmin"]
	path = portfolio/hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "hugo-xmin"]
	path = hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/xmin"]
	path = themes/xmin
	url = https://github.com/yihui/hugo-xmin.git
